.help-container {
  padding: 0.5rem 4rem;
}
.custom-collapse .ant-collapse-item:not(:last-child) {
  margin-bottom: 0.8rem;
}
.help-desk {
  background: #fff7ed;
  padding: 1.8rem 1.3rem;
  border-radius: 0.8rem;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .help-container {
    padding: 1.5rem;
  }
  .help-desk {
    margin-top: 1rem;
  }
}
