.footer {
  height: 27vh;
  width: 100%;
  background: #0a0a0a;
  padding: 2rem 4rem;
}
.footer-divider {
  border: 0.2px solid #999;
  margin-top: 3rem;
}
.footer-col {
  display: flex;
  color: #ebebeb;
  justify-content: space-between;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}
.footer-icons {
  color: #ebebeb;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
