.info-container {
  padding: 0 4rem;
  width: 100%;
}
.fields-row {
  margin-top: 1rem;
}
.field-icon {
  margin-right: 1rem;
}
.field-img {
  vertical-align: bottom;
}
.extra-info {
  background: #f5f5f5;
  padding: 0.9rem 1rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
}
.shield-icon {
  vertical-align: middle;
  margin-left: 0.5rem;
}
.info-title {
  padding: 1rem 4rem;
}
.info-divider {
  border: 0.5px solid #e5e5e5;
  height: 95%;
  padding: 0;
  margin: 0;
}
.demo-img {
  width: 100%;
}
.ticket-icon {
  color: #474747;
  margin-right: 0.5rem;
}
.tax-row {
  margin-top: 1rem;
}
.discount {
  color: #006642;
}
.tax {
  color: #474747;
}
.discount-icon {
  font-size: 1.3rem;
}
.discount-col {
  margin-left: 1rem;
}
.tax-subrow {
  margin-top: 0.4rem;
  font-size: 0.8rem;
  color: #595959;
}
.cancellation {
  margin-top: 1.5rem;
  background: #f5f5f5;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
}
